.chart {
	@include media("<=phone") {
		padding: 10px;
		text-align: center;
		margin: auto;
		justify-content: center;
	}
	@include media(">=phone", "<tablet") {
		padding: 10px;
		text-align: center;
		margin: auto;
		justify-content: center;
	}
	@include media(">=tablet", "<smalldesktop") {
		padding: 10px;
		text-align: center;
		margin: auto;
		justify-content: center;
	}
	@include media(">=smalldesktop", "<desktop") {
		padding: 10px;
		text-align: center;
		margin: auto;
		justify-content: center;
	}
	@include media(">=desktop", "<largedesktop") {
		padding: 10px;
		text-align: center;
		margin: auto;
		justify-content: center;
	}
	@include media(">=largedesktop") {
		padding: 10px;
		text-align: center;
		margin: auto;
		justify-content: center;
	}
}
