.recentmessages {
	@include media("<=phone") {
		h4 {
			font-size: 30px;
			font-family: 0 "Product Sans Bold";
			margin-left: 10px;
		}

		.card {
			width: 100%;
		}
	}
	@include media(">=phone", "<tablet") {
		h4 {
			font-size: 30px;
			font-family: 0 "Product Sans Bold";
			margin-left: 10px;
		}

		.card {
			width: 100%;
		}
	}
	@include media(">=tablet", "<smalldesktop") {
		h4 {
			font-size: 30px;
			font-family: 0 "Product Sans Bold";
			margin-left: 10px;
		}

		.card {
			width: 100%;
		}
	}
	@include media(">=smalldesktop", "<desktop") {
		h4 {
			font-size: 30px;
			font-family: 0 "Product Sans Bold";
			margin-left: 10px;
		}

		.card {
			width: 100%;
		}
	}
	@include media(">=desktop", "<largedesktop") {
		h4 {
			font-size: 30px;
			font-family: 0 "Product Sans Bold";
			margin-left: 10px;
		}

		.card {
			width: 100%;
		}
	}
	@include media(">=largedesktop") {
		h4 {
			font-size: 30px;
			font-family: "Product Sans Bold";
			margin-left: 10px;
		}

		.card {
			width: 100%;
		}
	}
}

.col-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
