$color-white: #ffffff;
$color-black: #000000;
$color-gray: #949494;
$hero-section-background-light: #f6f5ff;
$primary-color-active: #0e940c;
$primary-color-hover: #0c5e0a;
$primary-color-light: #05ff00;
