.navbar {
	.nav-item {
		font-family: "Roboto Regular";
		font-size: 16px;
		color: $color-white;
	}

	.navbar-logo {
		position: absolute;
		width: 75px;
	}

	.dropdown-item {
		font-family: "Roboto Regular";
		font-size: 16px;
		cursor: pointer;
	}

	.navbar-bg {
		background-color: $primary-color-active;
	}

	.rounded-circle {
		width: 35px;
		height: 35px;
	}

	@include media("<=phone") {
		.navbar-nav {
			margin-left: 14px;
			margin-top: 15px;
		}

		.profile-icon {
			margin-left: 15px;
			margin-top: 10px;
		}
	}

	@include media(">=phone", "<tablet") {
		.navbar-nav {
			margin-left: 14px;
			margin-top: 15px;
		}

		.profile-icon {
			margin-left: 15px;
			margin-top: 10px;
		}
	}

	@include media(">=tablet", "<smalldesktop") {
		.navbar-nav {
			margin-left: 15px;
			margin-top: 15px;
		}

		.profile-icon {
			margin-left: 15px;
			margin-top: 10px;
		}
	}

	@include media(">=smalldesktop", "<desktop") {
		.navbar-nav {
			margin-left: 65px;
		}
	}

	@include media(">=desktop", "<largedesktop") {
		.navbar-nav {
			margin-left: 65px;
		}
	}

	@include media(">=largedesktop") {
		.navbar-nav {
			margin-left: 65px;
		}
	}
}
