.settings {
  .card {
    height: fit-content;
  }
}

.organization {
  .logo {
    width: 300px;
  }

  .info-title {
    font-size: 18px;
    font-family: "Poppins Medium";
  }

  .info-text {
    font-size: 14px;
    font-family: "Poppins Regular";
    border-bottom: 0.07rem dashed #ebedf2;
    padding-bottom: 10px;
    padding-top: 10px;

    i {
      margin-right: 5px;
    }
  }

  .fa-edit {
    margin-top: 3px;
    cursor: pointer;
    color: $color-gray;
  }
}
