td {
  padding-top: 8px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  font-family: "Poppins Regular";
  font-size: 13px;
}

th {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  font-family: "Product Sans Bold";
}

.search-bar {
  font-family: "Poppins Regular";
  font-size: 14px;
}

.table-description {
  font-size: 13px;
  margin-bottom: 0px;
}

.table-profile-img {
  width: 25px;
  border-radius: 50%;
  margin-top: 0px !important;
  margin-right: 5px;
}

.row-header {
  margin-bottom: 2px !important;
  font-size: 13px;
}
