td {
  padding-top: 4px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  font-family: "Poppins Regular";
  font-size: 13px;
}

th {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  font-family: "Product Sans Bold";
}

.search-bar {
  font-family: "Poppins Regular";
  font-size: 14px;
}

.table-description {
  font-size: 12px;
  margin-bottom: 0px;
}
