/**
  Note - Implement styles that are affect to the whole application.
  If you implement stylings that belongs to individual component, use the "styles" directory to implement it
*/

/**
  MS Club of SLIIT Admin Pannel - Media Query Template
  @include media("<=phone") {}
  @include media(">=phone", '<tablet') {}
  @include media('>=tablet', '<smalldesktop') {}
  @include media('>=smalldesktop', '<desktop') {}
  @include media(">=desktop", '<largedesktop') {}
  @include media('>=largedesktop') {}
*/

// Import Styles
@import "./styles/breakpoints.scss";
@import "react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";
@import "react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css";
@import "react-toastify/dist/ReactToastify.css";
@import "react-rangeslider/lib/index.css";
@import "./styles/colors.scss";
@import "./styles/navbar.scss";
@import "./styles/table.scss";
@import "./styles/events.scss";
@import "./styles/image-canvas.scss";

.container {
  margin-top: 80px;
}

.btn {
  text-transform: unset !important;
}

.card {
  border-radius: 0px;
  padding: 15px;
}

footer {
  .footer-text {
    font-family: "Roboto Regular";
  }
}

.page-title {
  font-family: "Poppins Medium";
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
}

.page-description {
  font-family: "Poppins Regular";
  font-size: 13px;
  margin-top: 0px;
}

.badge {
  font-family: "Poppins Light";
  font-size: 11px;
}

.form-control {
  border: 1;
  font-size: 14px;
  height: 35px;
  padding: 12px;
}

.form-control:focus {
  border: 0px !important;
  font-size: 14px;
  height: 35px;
  padding: 12px;
}

.form-label {
  font-size: 14px;
  margin-bottom: 0px;
}
